{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">

        <!-- Content -->
        <section id="content">
            <h3>Demo</h3>
            <br>This page is a demonstration of Website authentication with XMPP account. You can <a
                href="/login">login</a>
            with your XMPP account without any password.</br>
            This mechanism can be used with 2FA (<a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">Two-factor
            authentication</a>)</p>
            <h3>Technical information</h3>
            <ul>
                <li>This website is running on django 2.0.</li>
                <li>The XMPP authentication is managed by a component written by "Chteufleur‎": <a
                        href="https://git.kingpenguin.tk/chteufleur/HTTPAuthentificationOverXMPP">HTTPAuthentificationOverXMPP</a>.
                </li>
                <li>More information is available on the related <a
                        href="https://blog.agayon.be/xmpp_auth_django.html">blog
                    post</a>.
                </li>
            </ul>

        </section>

    </div>
</div>


{% endblock %}
